@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HomepageBaukasten';
  src: url('fonts/HomepageBaukasten-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}